<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="" class="navbar-brand">YelpCamp</a
    ><button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/campgrounds" class="nav-link">Campgrounds</a>
        <a href="/campgrounds/new" class="nav-link">New Campground</a>
      </div>
    </div>
  </div>
</nav>
